<?xml version="1.0"?>
<plugin xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wamv_gazebo_thruster_config" params="name thrust_coefficient:='0.1079'">

  <gazebo>
    <plugin
      filename="gz-sim-thruster-system"
      name="gz::sim::systems::Thruster">
      <joint_name>${namespace}/${name}_engine_propeller_joint</joint_name>
      <cmd_timeout>0.5</cmd_timeout>
      <thrust_coefficient>${thrust_coefficient}</thrust_coefficient>
      <fluid_density>1000</fluid_density>
      <propeller_diameter>0.0762</propeller_diameter>
      <velocity_control>false</velocity_control>
      <max_thrust_cmd>36.3827</max_thrust_cmd>
      <namespace>${namespace}</namespace>
      <topic>thrusters/${name}/thrust</topic>
      <name>${name}</name>
    </plugin>

    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>${namespace}/${name}_chassis_engine_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
      <topic>${namespace}/thrusters/${name}/pos</topic>
      <name>${name}</name>
    </plugin>
  </gazebo>
  </xacro:macro>
</plugin>